*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: rgb(83, 83, 83);

}

.navbar{
    display: flex;
    position: relative;
    background-color: rgba(170, 148, 106, 0.6);     /*This is rgba format for setting background color opacity*/
    border-radius: 30px;
    z-index: 1;
    
}

#logo{
    margin: 10px 35px;
}
#logo img{
    height: 80px;
    border-radius: 10px;
}
.item{   
    margin: auto 20px;
}
li a{  font-weight: bold;
    font-size: 1.2rem;
    font-family: cursive;
    color: black;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(235, 245, 182);
    border-radius: 10px;
    padding: 5px;
    color: rgb(54, 117, 54);
    box-shadow:3px 3px 4px rgb(209, 163, 123);
}
li{
    list-style: none;
}
ul{
    display: flex;
}

/*here navigation bar ends*/

/*Heading of the page*/
.heading{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
}
.heading p{
    margin: 10px;
}
.btn{
    display:inline-block; 
    background-color: rgb(235, 235, 214);

    margin-top: 70px;
    color: rgb(37, 139, 37);
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bolder;
    box-shadow:2px 2px 5px rgb(212, 224, 212);
    text-shadow: 1px 1px rgb(136, 172, 136);
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(221, 250, 143);
    border: 2px solid rgb(243, 108, 108);
    box-shadow: 5px 5px 3px red;
    color: rgb(4, 97, 4);
}
p{
    color: white;
}
#home::before{ 
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100vw;
    z-index: -1;
    opacity:0.89;
}
#home{
    text-align: center;
    color: white;
    margin-top: 50px;
}
#services{
    margin: 34px;
    display: flex;
}
#services.box{
    border:2px solid red;
}
#services.box.img{
    height: 150px;
}
.p{margin-top: 50px;
    
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.center{
    text-align: center;
}






.services-container{
    
    
    display: flex;
    width: 100vw;
    /* margin-top: 300px; */
    margin-top: 150px;
    justify-content: space-evenly;
    

}
.box1{
    margin: 20px;
    border: 5px solid rgb(151, 136, 52);
    border-radius: 10px;
    justify-content: space-around;
    box-shadow: 4px 4px 4px rgb(143, 143, 69);   
}

.box1 h1{
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
    padding-top: 33px;
    
}
#chowmein h1{
    margin-top: 50px;
}
#chowmein img{
    width: 300px;
    margin-right: 80px;
    
}
#naan h1{
    margin-top: 50px;
}
#naan img{
    width: 300px;
    margin-right: 80px;
    
}

.box1 p{
    text-align: center;
    font-size: 20px;
}
section div img{
    margin-left: 105px;
    width: 200px;
    border-radius: 15px;
}








.footerheading{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: indianred;
}
footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.connectwithus{
    padding: 10px;
    border: 3px solid green;
    border-radius: 7px;
    font-weight: bold;
    background-color: rgb(112, 45, 160);
    transition: all 0.5s ease-in-out;   
}

.connectwithus a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: scale(2);
}
.connectwithus:hover{
    text-decoration: none;
    transform: scale(1.3);   
}
